*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug > .contenitore {
    height: 1000px;
    
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;

}
.contenitore{
    height: 957px;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
}

nav {
   height: 90px; 
   padding: 1rem;
   position: relative;
}
.menu {
    height: 90px; 
    padding: 1rem;
    position: relative;
}


.menu2{
    height: 70px;
    width: 300px;
    display: inline;
    padding: 1rem;
    margin-left: 100px;
    font-size: 22px;
    color: white;
    
}
.logo {
    float: left;
    padding-left: 320px;
    size: 3rem;
}
.bottone{
   background-color: white;
   color: black;
   border-radius: 20px;
}
.presentazione {
    height: 400px;
    width: 800px;
    position: absolute;
    left: 37%;
    top: 22%;
   
}
 .presentazione h1 {
    font-size: 80px;
    color: white;
    padding-bottom: 4rem;
    text-align: center;
}
.presentazione p {
    color: white;
    font-size: 40px;
    text-align: center;
}
.bottone1 {
    margin-top: 67px;
    position: absolute;
    top: 100%;
    left: 22%;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    border-color: transparent;
    
}
.bottone2 {
    margin-top: 67px;
    position: absolute;
    top: 100%;
    left: 45%;
    height: 50px;
    width: 250px;
    color: white;
    background-color: black;
    border-color: black;
    border-radius: 25px;

}
.secondo {
    margin-top: 100px;
    position: relative;
    height: 600px
}
.immagine {
    height: 565px;
    width: 614px;
    margin-left: 320px;
    float: left;
    margin-bottom: 30px;
}
.text {
    height: 565px;
    width: 400px;
    float: right;
    margin-right: 320px;
    margin-bottom: 30px;
}
.text h1{
    font-size: 56px;
    margin-bottom: 2rem;
}
.text p {
    font-size: 30px;
}
.terzo{
    position: relative;
    height: 600px;
    margin-top: 300px;
    background-color: rgba(177, 174, 174, 0.219);
    
}
.immagine1{
    height: 565px;
    width: 614px;
    float: right;
    margin-right: 320px;
   
}
.text1 {
    height: 565px;
    width: 400px;
    margin-left: 320px;
    float: left;
    
}
.text1 h1 {
    font-size: 56px;
    margin-bottom: 2rem;
}
.text1 p {
    font-size: 30px;
}
.quarto {
    position: relative;
    height:  565px;
    margin-top: 30px;
   
    
}
.immagine2{
    height: 400px;
    width: 400px;
    
    margin-left: 320px;
    float: left;
    margin-bottom: 30px;
}
.text2{
    height: 400px;
    width: 300px;
    float: right;
    margin-right: 320px;
    margin-bottom: 30px;
}
.text2 h1 {
    font-size: 56px;
    margin-bottom: 2rem;
}
.text2 p {
    font-size: 30px;
}
.quinto {
    position: relative;
    height: 200px;
    margin-top: 30px;
   
}
.background {
    background-color: rgba(177, 174, 174, 0.219);
}
.intestazione {
    height: 200px;
    margin-top: 400px;
    margin-left: 320px;
    margin-right: 320px;
    margin-bottom: 200px;
    text-align: center;
    font-size: 30px;
   
}
.intestazione h1 {
    padding-bottom: 2rem;
}
.schermo{
    height: 600px;
    margin-left: 320px;
    margin-right: 320px;
    padding-left: 15%;
}

.scarica {
    height: 300px;
    margin-left: 320px;
    margin-right: 320px;
    text-align: center;
    font-size: 30px;
    
}
.button {
    margin-top: 2rem;
    height: 50px;
    width: 200px;
    color: white;
    font-size: 20px;
    border-radius: 40px;
    border-color: transparent;
    background-color: rgb(0, 132, 255);
    
}
.footer {
    height: 1100px;
    background-color:rgba(0, 0, 0, 0.733);
    
}
.social {
    height: 500px;
    width: 500px;
    margin-left: 1rem;
    float: left;
    background-color: violet;
}
.prodotto {
    height: 500px;
    width: 400px;
    float: left;
    

}
h3 {
    color: cornflowerblue;
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 90px;

}
li {
    font-size: 30px;
    list-style-type: none;
    padding-bottom: 20px;
    color: white;
}
.compagnia {
    height: 500px;
    width: 400px;
    float: left;
   
}
.risorse {
    height: 700px;
    width: 400px;
    float: right;
    
}
.norme {
    height: 500px;
    width: 400px;
    float: right;
    
}

.linea {
    padding-top: 800px;
    padding-left: 320px;
    padding-right: 320px;
}
hr{
    width: 1500px;
    
    color: white;
}